body {
    background-image: url("../images/bg.png");
    font-family: "Labrada", sans-serif;
}

header {
    margin: 3rem auto;
}

main {
    margin-bottom: 5rem;
}

h1, .menu-title {
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Bangers", sans-serif;
    color: #E54612;
}

h1 {
    text-shadow: 2px 2px 2px #FED303;
    font-size: 4rem;
}

i {
    padding: 0 3rem;
}

a {
    text-decoration: none;
    transition: 0.3s ease;
}

/* ************************************************************************************************************************************ */
/*                                                      WEBSITE PAGE                                                                    */
/* ************************************************************************************************************************************ */
header .title-img {
    color: #FED303;
    text-shadow: 2px 2px 2px #E54612;
}

nav {
    margin: 0 auto;
}

.navbar {
    border: none;
}

.menu-btn {
    font-family: "Bangers", sans-serif;
    color: white;
    background-color: #E54612;
}

.menu-btn:hover {
    color: #E54612;
    background-color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.474);
}

.menu-title {
    font-size: 1.5rem;
    margin-bottom: 0;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
}

.order {
    background-color: #E54612;
    border: none;
    width: 100%;
    font-family: "Bangers", sans-serif;
}

.order:hover {
    background-color: #FED303;
    color: #E54612;
}

.card-container {
    padding: 0.3rem;
}

.card-container img {
    background-color: #FED303;
}

.card-container p {
    font-weight: 600;
}

.card-container .price {
    background-color: #E54612;
    font-size: 2rem;
    width: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-container .footCard {
    border-top: none;
}






/* ************************************************************************************************************************************ */
/*                                                      ADMIN PAGE                                                                      */
/* ************************************************************************************************************************************ */

main .admin {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 70%;
}

main .admin i {
    padding: 0 0.5rem 0 0;
}

main .admin .add-btn {
    text-transform: uppercase;
}

main .admin .add-btn:hover {
    color: #FED303;
}

table .actions:not(:last-child) {
    margin-right: 1rem;
}

table .actions:hover {
    opacity: 0.8;
}